@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Roboto Mono';
  /* line-height: 20px; */
  color: #b3b3b3;
  background-color: black;
  border-radius: 25rem;
  /* padding: 3.5em; */
  text-transform: lowercase;

}

.bas {
  margin: 0px auto;
  max-height: 50px;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Roboto Mono';
  /* line-height: 20px; */
  color: #b3b3b3;
  /* border-radius: 25rem; */
  padding: 1rem;
  text-transform: lowercase;
}

.paragraf {
  margin: 0px auto;
  min-height: 1rem;
  max-height: 300rem;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Roboto Mono';
  /* line-height: 20px; */
  color: #b3b3b3;
  padding: 4rem;
  text-transform: lowercase;
}

.points {
  margin: 0px auto;
  min-height: 1rem;
  max-height: 20rem;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Roboto Mono';
  padding: 4rem;
}

.image {
  margin: 0px auto;
  min-height: 1rem;
  max-height: 20rem;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Roboto Mono';
  /* padding: 4rem; */
  
}
.icon-container{
  position:absolute;
  top:30px;
  right:30px;

}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

button:hover
{
  opacity: 0.1;
}

button:active
{
  opacity: 0.1;
}

@media only screen and (max-width: 600px) {
  .bas {
    font-size: 0.8rem;
  }
  .paragraf {
    font-size: 1rem;
    padding: 2rem;
    max-height: 180px;
    min-height: 150px;
  }
  .points{
    font-size: 1rem;
    padding: 2rem;
    /* max-height: 180px;
    min-height: 150px; */
  }
  .image {
    margin: 150px auto;
    /* width: 50%,50%; */
    max-width: 100%;
    min-width: 300px;
    height: auto;


  }
}


 /* width */
 ::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
} 

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

::selection{
  background: #5e497c;
  color: #b3b3b3;
}

